.drop-search {
    margin-top: 5px;
    width: 172px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: auto;
    overflow-y: auto;
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
}

.search-query{
    width: 15rem;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 2.5rem;
    font-size: 14px;
    padding: 0 12px;
}

.menu-open{
    margin-left: -30rem;
    margin-top: -40px;
}

@media screen and (max-width: 500px) {
    .main-search-query{
        margin-left: 10rem;
        margin-top: -7.5rem;
    }
    .search-query{
        width: 10rem;
    }
    .account{
        margin-top: 1rem;
        margin-left: -40rem;
    }
    .settings-button{
        margin-left: -15rem;
        margin-top: -4rem;
    }
    .notification-query{
        margin-top: -8rem;
        margin-left: -2rem;
    }
    .all-in{
        display: inline;
        justify-content: space-between;
    }
}
