.image-search {

    input {
        // height: 20px;
        // width: 20px;
        margin-bottom: 30px;
        margin-top: -80px;
        margin-left: 180px;
    }
}

// .border-drop{
//     height: 250px;
//     width: 250px;
//     // background-color: aqua;
//     border: 1px solid black;
// }

// .drop-for-tab{
//     margin-top: 20px;
// }

.drop-search {
    margin-top: 5px;
    width: 200px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: auto;
    overflow-y: auto;
    position: absolute;
    cursor: pointer;

    .data-serach{
        font-size: 15px;
        margin-left: 30px;
    }
}

.drop-search::-webkit-scrollbar{
    display: none;
}