.customer-info {

    img {
        width: 50px;
        border-radius: 99px;
        margin-bottom: -5px;
        margin-top: 20px;
    }

    h3 {
        margin-left: 60px;
        margin-top: -50px;
    }

    h4 {
        margin-left: 60px;
    }
}

.customer-effect {
    .image-effect {
        width: 50px;
        border-radius: 99px;
        margin-top: 25px;
        margin-bottom: -20px;
    }

    h3 {
        margin-left: 60px;
        margin-top: -50px;
    }

    h4 {
        margin-left: 60px;
    }
}

.phone-info {
    h3 {
        margin-top: 50px;
        margin-bottom: 0px;
    }
}

.phone-number {
    // margin-top: 3rem;
    margin-top: 30px;
    margin-bottom: 17px;
}

.active-info {
    h3 {
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

.active {
    margin-top: 28px;
    padding: 2px 10px;
    border-radius: 100px;
    background-color: aliceblue;
    margin-bottom: 16px;
}

.allquery {
    margin-top: 30px;
}

.fetch-title {
    margin-top: 1.5rem;
}

.tag-container-output{
    min-width: 50%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 2.8rem;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    color: black;
    // width: 50rem;
    padding-left: 15px;
}

.tag-output{
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 25px;
    margin: 2px 5px 2px 0px;
    color: black;
}

.border-drawer-drop {
    // margin-top: 20px;
    text-align: center;
    width: 170px;
    margin-left: -16rem;
    height: 80px;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: auto;
    overflow-y: auto;
    // position: absolute;
    cursor: pointer;
}

.drop-inq-search {
    margin-top: 30px;
    margin-left: -11rem;
    width: 172px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // overflow: auto;
    // overflow-y: auto;
    position: fixed;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    color: black;
    overflow: scroll;
}